@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

@media (min-width: 680px) and (max-width: 1100px) {
  .left-side {
    width: 145px;
  }

  .list-item {
    font-size: 14px;
    margin: 5px;
  }
}

@media (max-width: 680px) {
  .fullscreen-bg__video {
    display: none;
  }

  .fullscreen-bg {
    overflow: visible;
    padding-top: 0;
  }

  .overlay {
    position: relative;
    color: #111111;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.fullscreen-bg {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%;
}

.block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  color: white;
}

.product {
  display: flex;
  flex-wrap: nowrap;
}

.main-prod {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.list-item {
  margin: 40px 20px;
  padding: 5px 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: white;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  list-style-type: none;
  border-radius: 15px;
}

.container {
  align-items: center;
}

.container-left {
  width: 50%;
}
.container-right {
  width: 50%;
}

.left-side {
  margin: 0 auto;
  max-width: 290px;
}

.right-side {
  margin: 0 auto;
  font-size: 1.5em;
}

.img-1 {
  width: 100%;
}

.list-row {
  width: 100%;
  text-align: center;
}

.right-side ul {
  padding: 0;
}

.feedback {
  display: flex;
  margin: 60px auto;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feedback-item {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 30%;
  min-width: 200px;
  border-radius: 30px;
  box-shadow: 0 0 7px #666;
  margin: 15px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin: 10px 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 0 0 7px #666;
}

.feedback-photo-item {
  width: 99%;
  border-radius: 50%;
  border: 3px solid #ff6347;
}

.disc {
  font-size: 1.5em;
}

.feedback-info {
  margin: 10px;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 40px;
  padding: 0;
  font-size: 1.3em;
}

.half {
  width: 50%;
}

.timer {
  margin: 20px 0;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
}

.time-count-item {
  text-align: center;
}

.product {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.colomn-items {
  width: 30%;
}

.photo-product {
  width: 100%;
}

.photo-product__img {
  width: 100%;
}

.price-new {
  font-size: 1.2em;
  animation: glow 1s linear infinite;
  -moz-animation: glow 1s linear infinite;
  -webkit-animation: glow 1s linear infinite;
  -o-animation: glow 1s linear infinite;
}

@keyframes glow {
  50% {
    text-shadow: 0 0 0.5vw #8f2626, 0 0 2vw #ff0000, 0 0 3vw #ff3366,
      0 0 3vw #fff, 0 0 5vw #fed641, 0 0 3vw #fed641, 0 0 2vw #ff69b4,
      0 0 0.5vw #ff69b4;
    color: #ff6347;
  }
  0%,
  100% {
    text-shadow: 0 0 0.5vw #e01c1c, 0 0 1vw #e01c1c, 0 0 2vw #ff3366,
      0 0 3vw #ff3366, 0 0 5vw #ff3366, 0 0 2vw #ff3366, 0 0 1vw #ff3366,
      0 0 0.5vw #8f2626;
    color: #ff3366;
    -webkit-text-stroke: 0.1px #ff69b4;
  }
}

.button {
  width: 100%;
  margin-top: 40px;
  align-items: center;
  background-color: #ff6347;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 500px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button::after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover::after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

.form {
  width: 50%;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  font-size: 1em;
}
